.h5{font-size:1.25rem;line-height:1.25;margin:0}
.h6{font-size:1rem;line-height:1.25;margin:0}
.small{font-size:.875rem}
.text-muted{color:var(--muted)!important}
.text-right{text-align:right!important}
.text-success{color:var(--success)!important}
.text-warning{color:var(--warning)!important}
.text-danger{color:var(--danger)!important}
.font-weight-semibold{font-weight:600}
.mb-0{margin-bottom:0!important}
.mb-1{margin-bottom:.25rem!important}
.mb-2{margin-bottom:.5rem!important}
.mb-3{margin-bottom:1rem!important}
.mb-4{margin-bottom:1.5rem!important}
.ml-2{margin-left:.5rem!important}
.mr-2{margin-right:.5rem!important}
.my-3{margin-top:1rem!important;margin-bottom:1rem!important}
